name: GitHub Metrics

on:
  workflow_dispatch:       # allows manual trigger
  schedule:
    - cron: "0 0 * * *"   # daily at midnight UTC

jobs:
  generate-metrics:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Generate GitHub Metrics
        uses: lowlighter/metrics@latest
        with:
          filename: metrics.plugin.habits.charts.svg
          token: ${{ secrets.METRICS_TOKEN }}
          base: ""
          plugin_habits: yes
          plugin_habits_facts: yes
          plugin_habits_charts: yes
          config_timezone: Africa/Addis_Ababa
